<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/schedules/new" method="POST">
        <div>
            <label for="user_id">User ID:</label>
            <input id="user_id" type="number" name="user_id" min="0" value="3">
          </div>
  
          <div>
              <label for="day">Day:</label>
              <input id="day" type="number" name="day" min="1" max="7" value="3">
          </div>
  
          <div>
              <label for="start_at">Start:</label>
              <input id="start_at" type="text" name="start_at" value="4:30 PM">
          </div>
  
          <div>
              <label for="end_at">End:</label>
              <input id="end_at" type="text" name="end_at" value="5:30PM">
          </div>
          
        <button type="submit">Submit</button>
    
    </form>
</body>
</html>